@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
   background-color: antiquewhite;
   margin: 1.5em;
   padding-top: 15px;
}
.custom-nav {
   background-color: transparent !important;
   border: none;
}
a {
   text-decoration: none;
}
.main-img {

}
.custom-btn {
   border-radius: 20px;
}
.custom-inp{
   border-radius: 20px;
}
.custom-home{
   border-radius: 20px;
   border-style: solid;
   border-color: #2168BA;
}
.custom-home:hover{
   color: #ffff !important;
   background-color:#2168BA ;
}
.custom-lnk{
   border-radius: 20px;
   border-style: solid;
   border-color: #2168BA;
}
.custom-lnk:hover{
   color: #ffff !important;
   background-color: #2168BA;
}
.custom-drpd{
   border-radius: 20px;
   border-style: solid;
   border-color: #2168BA;
}
.custom-drpd:hover{
   color: #ffff !important;
   background-color: #2168BA;
}
.custom-dsbl{
   border-radius: 20px;
   border-style: solid;
   border-color: #2168BA;
}
.custom-dsbl:hover{
   color: #ffff !important;
   background-color: #2168BA;
}
